
<launch>
	<!-- ********************ARGUMENTS******************** -->
	<!-- declare args for platform -->
	<arg name="aero/platform"			 default="0" />
	<!-- declare args to be passed in for actionlib topics -->
	<arg name="aero/velocity_command_topic" default="aero/velocity_command_topic" />
	
	<!-- declare args to be passed in for topics for receiving new PC data -->
	<arg name="aero/occupancy_topic"	 default="aero/occupancy_topic" />

	<arg name="aero/odometry"     default="aero/odometry" />
	
	<!-- declare occupancy grid arguments -->
	<arg name="aero/occupancy/local/update_rate"	    default="0.2"/>
	<arg name="aero/occupancy/local/x_dim"	    default="200"/>
	<arg name="aero/occupancy/local/y_dim"	    default="200"/>
	<arg name="aero/occupancy/local/z_dim"	    default="0"/>
	<arg name="aero/occupancy/local/x_org"	    default="0"/>
	<arg name="aero/occupancy/local/y_org"	    default="100"/>
	<arg name="aero/occupancy/local/z_org"	    default="0"/>
	<arg name="aero/occupancy/local/res"	        default="0.1"/>
	<arg name="aero/occupancy/global/update_rate"	    default="0.2"/>
	<arg name="aero/occupancy/global/x_dim"	    default="5000"/>
	<arg name="aero/occupancy/global/y_dim"	    default="5000"/>
	<arg name="aero/occupancy/global/z_dim"	    default="0"/>
	<arg name="aero/occupancy/global/x_org"	    default="0"/>
	<arg name="aero/occupancy/global/y_org"	    default="0"/>
	<arg name="aero/occupancy/global/z_org"	    default="0"/>
	<arg name="aero/occupancy/global/res"	        default="0.1"/>
	
	<!-- declare speed set arguments -->
	<arg name="speed_set/number"	    default="15"/>
	<arg name="speed_set/min_speed"	default="0.01"/>
	<arg name="speed_set/max_speed"	default="1.5"/>
	
	<!-- declare tentacle arguments -->
	<arg name="aero/tentacles/exp_fact"	        default="1.15"/>
	<arg name="aero/tentacles/number"	        default="81"/>
	<arg name="aero/tentacles/min_length"	        default="10"/>
	
	
	<!-- ********************PARAMETERS******************** -->
	<!-- declare occupancy grid parameters -->
		<param name="aero/occupancy/local/update_rate"	value="$(arg aero/occupancy/local/update_rate)"/>
		<param name="aero/occupancy/local/x_dim"	value="$(arg aero/occupancy/local/x_dim)"/>
		<param name="aero/occupancy/local/y_dim"	value="$(arg aero/occupancy/local/y_dim)"/>
		<param name="aero/occupancy/local/z_dim"	value="$(arg aero/occupancy/local/z_dim)"/>
		<param name="aero/occupancy/local/x_org"	value="$(arg aero/occupancy/local/x_org)"/>
		<param name="aero/occupancy/local/y_org"	value="$(arg aero/occupancy/local/y_org)"/>
		<param name="aero/occupancy/local/z_org"	value="$(arg aero/occupancy/local/z_org)"/>
		<param name="aero/occupancy/local/res"	value="$(arg aero/occupancy/local/res)"/>
	
	<!-- declare speed set parameters -->
		<param name="speed_set/number"	value="$(arg speed_set/number)"/>
		<param name="speed_set/min_speed"	value="$(arg speed_set/min_speed)"/>
		<param name="speed_set/max_speed"	value="$(arg speed_set/min_speed)"/>
	
	<!-- declare tentalce parameters -->
		<param name="aero/tentacles/min_length"	 value="$(arg aero/tentacles/min_length)"/>
		<param name="aero/tentacles/number"	 value="$(arg aero/tentacles/number)"/>
		<param name="aero/tentacles/exp_fact"    value="$(arg aero/tentacles/exp_fact)"/>
	
	
	<!-- ********************INCLUDES******************** -->
	<!-- Include Sub-Launch Files -->
	<include file="$(find aero_path_planning)/launch/aero_local_planner.launch">
		<arg name="aero/velocity_command_topic" value="$(arg aero/velocity_command_topic)" />
		<arg name="aero/occupancy_topic"	 value="$(arg aero/occupancy_topic)" />
		<arg name="aero/platform"			 value="$(arg aero/platform)"  />
		<arg name="aero/odometry"     value="$(arg aero/odometry"/>
	</include>

	<include file="$(find aero_path_planning)/launch/aero_global_planner.launch">
		<arg name="aero/occupancy_topic"	 value="$(arg aero/occupancy_topic)" />
		<arg name="aero/odometry"     value="$(arg aero/odometry)"/>
	</include>
</launch>
