<!-- This file demonstrates the parameterization for a computer with low performance
     The openni driver is started from this file -->

<launch>
  <param name="use_sim_time" value="true"/>
  <node pkg="rgbdslam" type="rgbdslam" name="rgbdslam" cwd="node" required="true" output="log"> 
    <!-- Input data settings-->
    <param name="config/camera_info_topic"             value="/stereo_camera/left/camera_info"/>
    <param name="config/wide_topic"                    value="/stereo_camera/left/image_mono"/>
    <param name="config/wide_cloud_topic"              value="/stereo_camera/points2"/>
    <param name="config/subscriber_queue_size"         value="2"/>
    <param name="config/drop_async_frames"             value="false"/> <!-- Check association of depth and visual image, reject if not in sync -->
    <param name="config/feature_detector_type"         value="ORB"/><!-- ORB are fastest and require no GPU -->
    <param name="config/feature_extractor_type"        value="ORB"/><!-- ORB are fastest and require no GPU -->
    <param name="config/max_keypoints"                 value="200"/><!-- Frame-to-frame comparisons are faster with few features-->
    <param name="config/min_sampled_candidates"        value="5"/><!-- Frame-to-frame comparisons to random frames-->
    <param name="config/nn_distance_ratio"             value="1"/><!-- Frame-to-frame comparisons to random frames-->

    <param name="config/data_skip_step"                value="2"/><!-- skip every n-th frame completely -->
    <param name="config/optimizer_skip_step"           value="10"/><!-- optimize every n-th frame. Set high for offline operation -->
    <param name="config/backend_solver"                value="pcg"/> <!-- pcg is fast and good for online operation -->
    <param name="config/cloud_creation_skip_step"      value="4"/> <!-- Subsample point cloud during creation: Makes creation and EMM faster, requires less storage -->
    <param name="config/visualization_skip_step"       value="1"/> <!-- Increase this if 3D rendering in GUI is still to slow-->
    <param name="config/octomap_resolution"            value="0.05"/><!-- 5 cm resolution renders fast enough for small maps -->
    <param name="config/maximum_depth"                 value="3.0"/><!-- Do not render points further than 3 meter in GUI and Octomap-->
  </node>
</launch>
