#Back files
*.*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Stuff built by rosmake
*/build
*/bin
*/lib/*.so
*/msg_gen
*/catkin
*/catkin_generated
*/cmake_install.cmake
*/CATKIN_IGNORE
*/CMakeFiles
*/devel
*/gtest
*/srv_gen


#Stuff added by make eclipse-project
*.project
*.pydevproject
*.cproject

#Build artifacts
*.cfgc
aero_base/launch
aero_path_planning/src/aero_path_planning
aero_srr_msgs/src/aero_srr_msgs
roboteq_driver/src/roboteq_driver
hd_driver/src/hd_driver
aero_base/src/aero_base
aero_laser_filter/cfg/cpp
aero_laser_filter/docs
aero_laser_filter/src/aero_laser_filter
aero_path_planning/cfg/cpp
aero_path_planning/docs
object_locator/cfg/cpp
object_locator/docs
object_locator/src/object_locator
roboteq_driver/cfg/cpp
roboteq_driver/docs