<launch>

	 <arg name="gui" default="True" />

	<!-- Send the Husky A200 Robot URDF/XACRO to param server -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find AERO_description)/urdf/AERO.urdf.xacro'" />
   
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
              <param name="use_gui" value="$(arg gui)"/>
        </node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find husky_description)/urdf/urdf.vcg" />
</launch>

