<launch>

	<!-- ********************ARGUMENTS******************** -->
	<!-- declare args to be passed in for actionlib topics -->
	<arg name="velocity_command_topic"			default="velocity_command_topic" />
	
	<!-- declare args to be passed in for topics for receiving new PC data -->
	<arg name="occupancy_point_cloud_topic"	default="occupancy_point_cloud_topic" />
	
	<!-- declare args to be passed in for controlling the huristics used by the tentacle selector -->
	<arg name="goal_weight"			default="2.0" />
	<arg name="traversed_weight"	default="0.1" />
	<arg name="difficult_weight"	default="0.25" />
	
	
	<!-- Test Enable Argument -->
	<arg name="controller_test"			default="false"/>
	
	
	<!-- ********************NODES******************** -->
	<node name="oryx_local_planner" pkg="oryx_path_planning" type="oryx_local_planner" output="screen">
		<param name="velocity_command_topic"		type="str"		value="$(arg velocity_command_topic)" />
		<param name="occupancy_point_cloud_topic"	type="str"		value="$(arg occupancy_point_cloud_topic)" />
		<param name="goal_weight"					type="double"	value="$(arg goal_weight)" />
		<param name="traversed_weight"				type="double"	value="$(arg traversed_weight)" />
		<param name="difficult_weight"				type="double"	value="$(arg difficult_weight)" />
	</node>
	
</launch>