<launch>
    
    <arg name="scan_topic" default="scan" />
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <remap from="scan" to="$(arg scan_topic)" />
    <param name="map_frame" value="/world" />
    <param name="inverted_laser" value="true" />
         </node>
</launch>
