<launch>

  <node pkg="rgbdslam" type="rgbdslam" name="rgbdslam" cwd="node" required="true" output="log"> 
    <!-- Input data settings-->
    <param name="config/topic_image_mono"              value="/upper_stereo/left/image_mono"/> <!--could also be color -->
    <param name="config/topic_image_depth"             value="/upper_stereo/disparity_image"/>
    <param name="config/topic_points"                  value=""/> <!--if empty, poincloud will be reconstructed from image and depth -->

    <param name="config/feature_detector_type"         value="SURF"/><!-- If SIFTGPU is enabled in CMakeLists.txt, use SURF here -->
    <param name="config/feature_extractor_type"        value="SURF"/><!-- If SIFTGPU is enabled in CMakeLists.txt, use SURF here -->
    <param name="config/nn_distance_ratio"             value="0.95"/> <!-- Feature correspondence is valid if distance to nearest neighbour is smaller than this parameter times the distance to the 2nd neighbour -->
    <param name="config/max_keypoints"                 value="600"/><!-- Extract no more than this many keypoints (not honored by SIFTGPU)-->
  </node>

  <!-- Launch octomap_server for mappingL: Listens to incoming PointCloud2 data 
  and incrementally build an octomap. The data is sent out in different representations. -->
  <!--<node pkg="octomap_server" type="color_octomap_server_node" name="color_octomap_server" output="screen">-->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
    <param name="resolution" value="0.005" />
    <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
    <!-- <param name="frame_id" type="string" value="map" /> 
    Renaming the map so that I can test with the bag file.-->
    <param name="frame_id" type="string" value="map_test" />
    <!-- maximum range to integrate (speedup, accuracy) -->
    <param name="max_sensor_range" value="6.0" />
    <!-- Save octomap here on destruction of the server -->
    <param name="save_directory" value="$(optenv OCTOMAP_SAVE_DIR ./)" />
    <!-- data source to integrate (PointCloud2) -->
    <remap from="cloud_in" to="/rgbdslam/batch_clouds" />
  </node>

</launch>
