#SYSTEM
TrackerModel = "InertiaCube3"

#TRACKER
LedEnable = 1
UltTimeout = 25
UltVolume = 3

#STATION

#STATION1
State = 1
Compass = 0
TimeStamped = 1
GetInputs = 0
GetAuxInputs = 0
GetCameraData = 0
CompassCompensation = 2
Enhancement = 1
Sensitivity = 2
Prediction = 0
AngleFormat = 1
CoordFrame = 1
TipOffset[0] = 0.000000
TipOffset[1] = 0.000000
TipOffset[2] = 0.000000

#STA1
yawBoresight = 0.000000
boresight[0] = 0.000000
boresight[1] = 0.000000
boresight[2] = 3.141593

#COMMANDS
