<launch>
	<!-- declare args to be passed in for actionlib topics -->
	<arg name="velocity_topic"			default="velocity_action_topic" />
	<arg name="translate_topic"			default="translate_action_topic" />
	
	<!-- declare args to be passed in for DriveManager topics -->
	<arg name="drive_velocity_topic"	default="drive_velocity_topic" />
	<arg name="drive_swerve_topic"		default="drive_swerve_topic" />
	<arg name="drive_capability_topic"	default="drive_capability_topic" />
	
	<!-- declare physical parameters -->
	<arg name="base_length"				default=".36"/>
	<arg name="base_width"				default=".39"/>
	
	<!-- declare platform capabilities -->
	<arg name="swerve_capable"			default="false"/>
	
	<!-- Test Enable Argument -->
	<arg name="controller_test"			default="false"/>
	
	<!-- Launch Nodes -->
	<node name="oryx_drive_controller" pkg="oryx_drive_controller" type="oryx_drive_controller" output="screen">
		<param name="velocity_command_topic"	type="str"		value="$(arg velocity_topic)" />
		<param name="translate_command_topic"	type="str"		value="$(arg translate_topic)" />
		<param name="drive_velocity_topic"		type="str"		value="$(arg drive_velocity_topic)" />
		<param name="drive_swerve_topic"		type="str"		value="$(arg drive_swerve_topic)" />
		<param name="base_length"				type="double"	value="$(arg base_length)" />
		<param name="base_width"				type="double"	value="$(arg base_width)" />
		<param name="swerve_capable"			type="bool"		value="$(arg swerve_capable)" />
	</node>
	
	<!-- If test is set, launch test node -->
	<group if="$(arg controller_test)">
  		<node name="oryx_drive_controller_test" pkg="oryx_drive_controller" type="oryx_drive_controller_test" output="screen">
  			<param name="velocity_command_topic"	type="str"	value="$(arg velocity_topic)" />
			<param name="translate_command_topic"	type="str"	value="$(arg translate_topic)" />
  		</node>
	</group>
</launch>