<?xml version="1.0"?>
<robot 
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
	xmlns:xacro="http://ros.org/wiki/xacro" name="aero">
       
  <!-- Included URDF/XACRO Files -->
  <include filename="$(find aero_description)/urdf/husky.urdf.xacro" />
  <include filename="$(find aero_description)/urdf/stereo_camera_pair.urdf.xacro" />
  <include filename="$(find aero_description)/urdf/sick_laser.urdf.xacro" />
  <include filename="$(find aero_description)/urdf/simple_transform.urdf.xacro" />


  <xacro:husky/>  

  <!-- Cameras -->

  <xacro:static_transform parent="base_link_top_plate_part" name="boom_base" xyz="-0.2 0 0" rpy="0 0 0">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	<box size="0.01 0.01 0.01" />
      </geometry>
      <material name="Blue" />
    </visual>
  </xacro:static_transform>

  <xacro:revolute_pan_transform parent="boom_base" name="boom" xyz="0 0 0.7874" rpy="0 0 0" lower_limit="-2" upper_limit="2">
    <visual>
      <origin xyz="0.0 0.0 -0.45" rpy="0 0 0" />
      <geometry>
	<cylinder length="0.9" radius="0.02" />
      </geometry>
      <material name="DarkGray" />
    </visual>
  </xacro:revolute_pan_transform>
  <xacro:stereo_camera_pair parent="boom" prefix="lower_stereo" xyz="0 0 0.5" rpy="0 ${M_PI/180*6} 0" camera_offset="0.08"/>
  <xacro:stereo_camera_pair parent="boom" prefix="upper_stereo" xyz="0 0 1" rpy="0 ${M_PI/180*25} 0" camera_offset="0.08"/>

  <!-- Laser -->
  <xacro:sick_laser_v0 name="laser" parent="base_link_front_mount_part" ros_topic="laser" update_rate="25" >
    <origin xyz="0.053086 0 -0.057912" rpy="${M_PI} 0 0" />
  </xacro:sick_laser_v0> 
  <gazebo reference="lidar">
    <material>Gazebo/White</material>
  </gazebo>


  <!-- Arm -->
  <xacro:static_transform parent="base_link_top_plate_part" name="arm_mount" xyz="0.325374 0 0.085852" rpy="0 0 0">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	<box size="0.01 0.01 0.01" />
      </geometry>
      <material name="Blue" />
    </visual>
  </xacro:static_transform>
  <xacro:static_transform parent="arm_mount" name="arm_base" xyz="0 0 0" rpy="0 0 ${-M_PI/2}">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	<box size="0.01 0.01 0.01" />
      </geometry>
      <material name="Blue" />
    </visual>
  </xacro:static_transform>

  <!-- IMU -->
  <xacro:static_transform parent="base_link" name="imu" xyz="0 0 0" rpy="0 ${-M_PI/2} ${-3*M_PI/4}">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	<box size="0.01 0.01 0.01" />
      </geometry>
      <material name="Blue" />
    </visual>
  </xacro:static_transform>

  
</robot>
