<?xml version="1.0"?>
<robot 
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
	xmlns:xacro="http://ros.org/wiki/xacro" name="aero">
       
  <!-- Included URDF/XACRO Files -->
  <include filename="$(find aero_description)/urdf/husky.urdf.xacro" />
  <include filename="$(find aero_description)/urdf/stereo_camera_pair.urdf.xacro" />
  <include filename="$(find aero_description)/urdf/sick_laser.urdf.xacro" />
  <include filename="$(find aero_description)/urdf/simple_transform.urdf.xacro" />


  <xacro:husky/>  

  <!-- Cameras -->
  <xacro:stereo_camera_pair parent="base_link_front_bumper_part" prefix="lower_stereo" xyz="0.02 0 0.02" rpy="0 0.2 0" camera_offset="0.04"/>
  <xacro:stereo_camera_pair parent="camera_boom" prefix="upper_stereo" xyz="0.02 0 0.02" rpy="0 0.2 0" camera_offset="0.04"/>

  <xacro:revolute_pan_transform parent="base_link_top_plate_part" name="camera_boom" xyz="0 0 0.9" rpy="0 0 0" lower_limit="-2" upper_limit="2"/>

  <!-- Laser -->
  <xacro:sick_laser_v0 name="laser" parent="base_link_front_bumper_part" ros_topic="laser" update_rate="25" >
    <origin xyz="-0.05 0 0.05" rpy="0 0 0" />
  </xacro:sick_laser_v0> 
  <gazebo reference="laser">
    <material>Gazebo/White</material>
  </gazebo>


  <!-- Arm -->
  <xacro:static_transform parent="base_link_front_bumper_part" name="arm_base" xyz="0.20 0 0.38" rpy="0 0 0"/>
  
</robot>
