<launch>	
<node name="Arm_Camera" pkg="OryxCam" type="OryxCam" respawn="true">
		<param name = "device" value="/dev/video1"/>	
		<param name = "camera_name" value="Arm_Camera"/>	
		<param name = "width" value="960"/>	
		<param name = "height" value="544"/>
        <param name = "frame_rate" value="10"/>	
		<param name = "brightness" value="70"/>	
		<param name = "contrast" value="10"/>	
		<param name = "saturation" value="100"/>
		<param name = "sharpness" value="25"/>	
    </node>

</launch>
