<launch>
	<!-- declare args to be passed in for actionlib topics -->
	<arg name="velocity_topic"			default="velocity_action_topic" />
	<arg name="translate_topic"			default="translate_action_topic" />
	<arg name="drive_velocity_topic"	default="drive_velocity_topic" />
	<arg name="drive_swerve_topic"		default="drive_swerve_topic" />
	<arg name="drive_capability_topic"	default="drive_capability_topic" />
	
	
	<!-- Launch Nodes -->
	<node name="oryx_drive_controller" pkg="oryx_drive_controller" type="oryx_drive_controller" output="screen">
		<param name="velocity_command_topic"	type="str"	value="$(arg velocity_topic)" />
		<param name="translate_command_topic"	type="str"	value="$(arg translate_topic)" />
		<param name="drive_velocity_topic"		type="str"	value="$(arg drive_velocity_topic)" />
		<param name="drive_swerve_topic"		type="str"	value="$(arg drive_swerve_topic)" />
		<param name="drive_capability_topic"	type="str"	value="$(arg drive_capability_topic)" />
	</node>
</launch>