<!-- Bring up anything needed for calculating odometry here -->
<launch>
  <!-- Input Arguments -->
  <arg name="imu_topic"    default="kvh/odom" />
  <arg name="odom_topic"   default="odom" />
  <arg name="output_topic" default="aero/odom_combined" />
  
  <!-- Bring Up Robot Pose Ekf -->
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="aero_base_pose_ekf">
    <param name="publish_tf"   value="true"/>
    <param name="output_frame"   value="odom"/>
    <param name="freq"           value="100.0"/>
    <param name="sensor_timeout" value=".1"/>  
    <param name="odom_used"      value="true"/>
    <param name="imu_used"       value="false"/>
    <param name="vo_used"        value="true"/>

    <remap from="odom"     to="$(arg odom_topic)" />
    <remap from="vo" to="$(arg imu_topic)" />
  </node>
  
  <!-- bring up SLAM -->
  <include file="$(find aero_slam)/launch/gmapping.launch"></include>
  <!--<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping">
    <param name="pub_map_odom_transform"   value="true"/>
    <param name="map_frame"   value="world"/>
    <param name="base_frame"   value="base_footprint"/>
    <param name="odom_frame"   value="odom"/>
  </node>-->
  

  <!--
  <node pkg="tf" type="static_transform_publisher" name="world_odom_broadcaster" args="0 0 0 0 0 0 /world /odom 20" />-->

  
</launch>
