<launch>
  <!-- ********************ARGUMENTS******************** -->
	
  <include file="$(find aero_srr_bringup)/launch/srr_bringup.launch">
    <arg name="aero/platform"      		    value="1" />
    <arg name="aero/velocity_command_topic"	    value="/clearpath/robots/default/cmd_vel" />
  </include>  
</launch>
