<launch>
  <include file="$(find aero_prosilica_camera)/launch/stereo.launch">
  	   <arg name="left_ip_address" value="192.168.3.100"/>
  	   <arg name="right_ip_address" value="192.168.4.100"/>
  	   <arg name="camera" value="upper_stereo"/>
  	   <arg name="auto_exposure" value="False" />
  	   <arg name="exposure" value="0.0025" />
 	   <arg name="auto_gain" value="False" />
 	   <arg name="gain" value="6" />
  
  </include>
  <group ns="/upper_stereo">
    <include file="$(find stereo_image_proc)/launch/stereo_image_proc.launch">
      <arg name="manager" value="/upper_stereo_nodelet_manager"/>
    </include>
  </group>

  <include file="$(find aero_prosilica_camera)/launch/stereo.launch">
  	   <arg name="left_ip_address" value="192.168.1.100"/>
  	   <arg name="right_ip_address" value="192.168.2.100"/>
  	   <arg name="camera" value="lower_stereo"/>
  </include>
  <group ns="/lower_stereo">
    <include file="$(find stereo_image_proc)/launch/stereo_image_proc.launch">
      <arg name="manager" value="/lower_stereo_nodelet_manager"/>
    </include>
  </group>
</launch>
