<launch>
  <!-- ********************ARGUMENTS******************** -->
	<!-- declare args to be passed in for actionlib topics -->
	<arg name="velocity_command_topic"	default="oryx/velocity_command_topic" />
	
  <include file="$(find aero_srr_bringup)/launch/srr_bringup.launch">
    <arg name="aero/platform"               value="0" />
    <arg name="aero/velocity_command_topic"	value="$(arg velocity_command_topic)" />
  </include>
</launch>