<launch>
	<!-- ********************ARGUMENTS******************** -->
        <!-- declare args to be passed in for platform -->
        <arg name="aero/platform"      		default="0" />
	<!-- declare args to be passed in for actionlib topics -->
	<arg name="aero/velocity_command_topic"	default="aero/velocity_command_topic" />
	

	<!-- ********************INCLUDES******************** -->
	<!-- Include Sub-Launch Files -->
        <group unless="$(arg aero/platform)">
        <!-- if platform is oryx, bring up the oryx drive controller -->
          <include file="$(find oryx_drive_controller)/launch/oryx_drive_controller.launch">
                <arg name="velocity_topic"              value="$(arg aero/velocity_command_topic)"/>
          </include>
        </group>
        
	<include file="$(find aero_path_planning)/launch/aero_path_planning.launch">
		<arg name="aero/platform"               value="$(arg aero/platform)" />
		<arg name="aero/velocity_command_topic"	value="$(arg aero/velocity_command_topic)" />
	</include>
</launch>
