<launch>
	<!-- ********************ARGUMENTS******************** -->
        <!-- declare args to be passed in for platform -->
        <arg name="aero/platform"      		default="0" />
	
	<arg name="aero/velocity_command_topic"	default="aero/velocity_command_topic" />
	<arg name="local_lidar_topic"           default="aero/lidar/local" />
	<arg name="global_lidar_topic"          default="aero/lidar/global" />
	<arg name="odometry_topic"		default="aero/odom"/>
	

	<!-- ********************INCLUDES******************** -->
	<!-- Include Sub-Launch Files -->
        
	<include file="$(find aero_path_planning)/launch/aero_path_planning.launch">
		<arg name="aero/platform"               value="$(arg aero/platform)" />
		<arg name="aero/velocity_command_topic"	value="$(arg aero/velocity_command_topic)" />
		<arg name="aero/lidar/local"     		value="$(arg local_lidar_topic)" />
	    	<arg name="aero/lidar/global"           value="$(arg global_lidar_topic)" />
		<arg name="aero/odometry"               value="$(arg odometry_topic)"/>
	</include>
</launch>
