<!--
Starts a PR2 Prosilica camera in streaming mode.
This file exists mainly for backwards compatibility.
-->

<launch>
   <node name="set_master" pkg="vision_comm" type="camera_config">
    <param name="IP"   value="192.168.1.100" />
    <param name="SyncOut2Mode" value="Exposing" />
   </node>
<group ns="stereo_bottom">
 <include file="$(find aero_srr_bringup)/launch/camera.launch">
    <arg name="camera"       value="left" />
    <arg name="ip_address"   value="192.168.1.100" />
    <arg name="trigger_mode" value="streaming" />
    <arg name="frame_id"     value="high_def_optical_frame" />
  </include>

 <include file="$(find aero_srr_bringup)/launch/camera.launch">
    <arg name="camera"       value="right" />
    <arg name="ip_address"   value="192.168.2.100" />
    <arg name="trigger_mode" value="syncin2" />
    <arg name="frame_id"     value="high_def_optical_frame" />
  </include>
 </group>
<!-- 
  <remap from="stereo/left/image_raw" to="left/image_raw" />
  <remap from="stereo/right/image_raw" to="right/image_raw" />
 
 <include file="$(find aero_srr_bringup)/launch/camera.launch">
    <arg name="camera"       value="camera_top_left" />
    <arg name="ip_address"   value="192.168.3.100" />
    <arg name="trigger_mode" value="streaming" />
    <arg name="frame_id"     value="high_def_optical_frame" />
  </include>

 <include file="$(find aero_srr_bringup)/launch/camera.launch">
    <arg name="camera"       value="camera_top_right" />
    <arg name="ip_address"   value="192.168.4.100" />
    <arg name="trigger_mode" value="streaming" />
    <arg name="frame_id"     value="high_def_optical_frame" />
  </include>
-->

</launch>
