SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTVR09ZC", MODE="0666", SYMLINK+="IMU"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="AH00QUIO", MODE="0666", SYMLINK+="BMS"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20d2", ATTRS{idProduct}=="5740", MODE="0666", SYMLINK+="MTR"
