#!/usr/bin/env python
PACKAGE="OryxManager"
import roslib;roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
#       		Name  	Type  Lvl     Description         					Default   	Min   	Max
gen.add("Turrent_Angle"	   , int_t, 0	, "Turret Angle in Degrees"	  , 0	,-90, 90)
gen.add("Arm_Angle"	   , int_t, 0	, "Arm Angle in Degrees"	  , 0	,-40, 140)
gen.add("Gripper"	   , int_t, 0	, "Gripper Open Level"	  , 0	,0, 180)


exit(gen.generate(PACKAGE, "OryxManager", "ArmManager"))
