#!/usr/bin/env python
PACKAGE="OryxManager"
import roslib;roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
#       		Name  	Type  Lvl     Description         					Default   	Min   	Max
gen.add("Pan"	   , int_t, 0	, "Pan in Degrees"	  , 0	,-120, 120)
gen.add("Tilt"	   , int_t, 0	, "Tilt in Degrees"	  , 0	,-60, 60)
gen.add("Invert" , bool_t, 0	, "Invert the Controls"	  ,False)
gen.add("Home_Pan" , bool_t, 0	, "Home Pan Motor"	  ,False)
gen.add("Home_Tilt" , bool_t, 0	, "Home Tilt Motor"	  ,False)
gen.add("Home_Boom" , bool_t, 0	, "Home Boom Motor"	  ,False)
gen.add("Home_Safely" , bool_t, 0	, "Configures the safety mode of the boom"	  ,True)
exit(gen.generate(PACKAGE, "OryxManager", "PTZManager"))
